@using SoftwareFest.ViewModels;
@model BusinessRegisterViewModel

<form method="post" asp-action="Register" asp-controller="Identity">
    <input type="text" asp-for="@Model.BusinessName" />
    <input type="email" asp-for="@Model.User.Email" />
    <input type="password" asp-for="@Model.User.Password" />
    <button type="submit">Register</button>
</form>