@using SoftwareFest.ViewModels;
@model BusinessViewModel

<form method="post" asp-action="BusinessRegister" asp-controller="Identity">
    <input type="text" asp-for="@Model.BusinessName" />
    <input type="email" asp-for="@Model.Email" />
    <input type="password" asp-for="@Model.Password" />
    <button type="submit">Register</button>
</form>