@using SoftwareFest.ViewModels;
@model ClientViewModel

<form method="post" asp-action="ClientRegister" asp-controller="Identity">
    <input type="text" asp-for="@Model.FirstName" />
    <input type="text" asp-for="@Model.LastName" />
    <input type="email" asp-for="@Model.Email" />
    <input type="password" asp-for="@Model.Password" />
    <button type="submit">Register</button>
</form>