@model SoftwareFest.ViewModels.CheckoutOrderResponse
<h1>CHECKOUT</h1>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var stripe = Stripe("@Model.PublicKey");
        stripe.redirectToCheckout({
            sessionId: "@Model.SessionId"
        }).then(function (result) {
            // Handle result.error here
        });
    });
</script>